{% load static %}
{% load admin_urls %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'src/home.css' %}">
    <link rel="stylesheet" href="{% static 'src/out.css' %}">
    <title>GRS</title>
    <style>
        #logo{
            visibility:visible;
        }
        @media only screen and (max-width:400px){
            #logo{
            visibility:hidden;
        }
        }
    </style>
</head>

<body>
    <div class="header-div">
        <div class="flex justify-end bg-green-700">
            <div class="mr-6 p-2"><a href="{% url 'admin:index' %}" class="text-white font-medium">Admin login</a>
            </div>
        </div>
        <div class="flex justify-end md:justify-start items-center bg-green-50 md:px-24">
            <div class="flex-1 flex items-center md:gap-4 p-2 md:p-4">
                <img src="{% static 'images/logo-hq.png' %}" alt="" class="h-16 ml-6 rounded-full">
                <div class="items-center" id="logo">
                    <div class="text-green-600 font-semibold">Anjuman-I-Islam's</div>
                    <div class="text-black font-bold">M. H. Saboo Siddik </div>
                    <div class="text-black font-bold">College of Engineering</div>
                </div>
            </div>
            <div class="flex-1">
                <div class="text-3xl ml-6 text-black font-extralight">Grievance Redressal Portal
                </div>
            </div>

        </div>
        <nav class="" id="navbar">
            <ul class="flex p-2 bg-green-700 justify-between">
                <div class="flex">
                    <li class="px-4"><a href="#About" class="text-white text-md">About
                            </a>
                    </li>
                    <li class="px-4"><a href="#Contact" class="text-white text-md">Contact
                            </a>
                    </li>
                    <li class="px-4 text-center "><a href="#process" class="text-white text-md">Process</a>
                    </li>
                </div>
                <div>
                    <li class="px-4"> <a href="{% url 'login' %}" class="text-white font-bold text-md">Login</a></li>
                </div>
            </ul>
        </nav>
    </div>

    <div class="flex md:flex-row flex-col p-6 md:p-10 items-center bg-green-100 ">
        <div class="w-3/4 md:w-1/2">
            <div><img src="{% static 'images/v-art-index.svg' %}" alt="" class="rounded"></div>
        </div>

        <div id="About" class="mt-6 flex flex-col items-center w-full md:w-3/4 md:px-12">

            <div class="mt-6">
                <p class="text-justify">M. H. Saboo Siddik, also known as MHSS or Saboo Siddik, is an 'A' Grade
                    engineering college located in Byculla, Mumbai, India. Affiliated with the University of Mumbai and
                    accredited by AICTE, it boasts a staff of 154 (comprising 57 teaching and 97 non-teaching members)
                    and serves approximately 1200 students. Established as a Muslim Minority Institution, it owes its
                    creation to the generous donation of Mohammed, the son of Haji Saboo Siddik, who contributed a
                    substantial sum to establish the institution for vocational, technical, and industrial education.
                    Managed and administered by the Anjuman-i-Islam, the college provides various facilities, including
                    workshops, laboratories, classrooms, a seminar hall, library, and reading rooms. Notably, a Seminar
                    Hall was inaugurated in 2001 by dignitaries, Zafar Saifullah IAS and Dr. Raja Ramanna, during the
                    annual day celebrations.</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col md:flex-row  py-10 items-center bg-green-700" id="process">
        <div class="flex-1">
            <div class="px-10">
                <h2 class="text-3xl font-bold text-white">Redressal Process</h2>
            </div>
            <div class="px-10 ">
                <dl class="mt-6 grid md:grid-cols-2 gap-4 ">
    
                    <div class="cursor-pointer bg-green-100 p-4 rounded" >
                        <dt class="font-semibold text-lg">1. Register</dt>
                        <dd class="text-justify">Click on Login and then on <a class="underline text-inherit" href="{% url 'register' %}">Sign Up</a>. Fill the details and register.</dd>
                    </div>
      
                    <div class="cursor-pointer p-4 bg-green-100 rounded">
                        <dt class="font-semibold text-lg">2. Login</dt>
                        <dd class="text-justify">You can <a class="underline text-inherit" href="{% url 'login' %}">Login</a> with your college mail id and password you created while registering.</dd>
                    </div>

                    <div class="cursor-pointer p-4 bg-green-100 rounded">
                        <dt class="font-semibold text-lg">3. Lodge grievance</dt>
                        <dd class="text-justify">Login to the dashboard and click on add complaints to <a class="underline text-inherit" href="{% url 'add/complaint' %}">Lodge a complaint</a>.</dd>
                    </div>
            
                    <div class="cursor-pointer p-4 bg-green-100 rounded">
                        <dt class="font-semibold text-lg">4. Track grievance</dt>
                        <dd class="text-justify">You can track the status of grievance from the <a class="underline text-inherit" href="{% url 'view/MyComplaints' %}">Complaints</a> section in your dashboard.</dd>
                    </div>
             
                    <div class=" menu-link cursor-pointer p-4 bg-green-100 rounded">
                        <dt class="font-semibold text-lg">5. Download Reports</dt>
                        <dd class="text-justify">Resolved grievances will be shown in <a class="underline text-inherit" href="{% url 'view/MySolvedComplaints' %}">Solved complaints</a> section from where you can download the report.</dd>
                    </div>

                </dl>
            </div>
        </div>
    </div>
    <div id="Contact" class="bg-green-100 py-10 px-12">
        <div class="text-center text-3xl text-white font-bold">
            <h2 class="text-green-700">Contact Us</h2>
        </div>
        <div class="md:grid md:grid-cols-3 mt-10 text-white gap-10" id="contact-content">
            <div
                class="flex flex-col items-center mb-6 bg-green-700 py-6 px-6  rounded-xl justify-center gap-6">
                <div class="text-xl">Email</div>
                <div class="text-lg">grs@mhssce.ac.in</div>
            </div>
            <div
                class="flex flex-col items-center bg-green-700 mb-6 py-6 px-6 rounded-xl justify-center gap-6">
                <div class="text-xl">Call us</div>
                <div class="text-lg">+91 22 23012922</div>
            </div>
            <div class="flex flex-col items-center bg-green-700 mb-6 py-6 px-6 rounded-xl gap-6">
                <div class="text-xl">Address</div>
                <div class="w-2/3 text-lg">8, Saboo Siddik Polytechnic Road, Byculla, Mumbai 400 008</div>
            </div>
        </div>
    </div>
    </div>

    <div id="Footer" class="bg-slate-800">
        <div>
            <div class="flex md:flex-row flex-col py-10 px-12 gap-10">
                <div>
                    <h2 class="text-white text-xl font-semibold">Navigation</h2>
                    <ul class="mt-4 flex flex-col gap-4">
                        <li><a href="#About" class="text-white">About us</a></li>
                        <li><a href="#process" class="text-white">Redressal process</a></li>
                        <li><a href="{% url 'login' %}" class="text-white">Login</a></li>
                        <li><a href="{% url 'admin:index' %}" class="text-white">Admin login</a></li>
                    </ul>
                </div>
                <div>
                    <h2 class="text-white text-xl font-semibold mt-10">Contact us</h2>
                    <ul class="mt-4 flex flex-col gap-4">
                        <li><a href="mailto:grievances@mhssce.ac.in" class="text-white">grievances@mhssce.ac.in</a></li>
                        <li><a href="" class="text-white">+91 22 23012922</a></li>
                    </ul>
                </div>
                <div class="text-white mt-10">
                    <h2 class="text-xl font-semibold">M.H. Saboo Siddik College</h2>
                    <div class="w-2/3 mt-4">
                        8, Saboo Siddik Polytechnic Road, Byculla,
                        Mumbai 400 008
                    </div>
                </div>
            </div>
            <div class="text-white text-sm font-light p-2">&copy; Copyright M.H.S.S.C.E 2023</div>
        </div>

    </div>

    <script src="https://kit.fontawesome.com/864e9fd339.js" crossorigin="anonymous"></script>

</body>

</html>