{% load static %}
{% load admin_urls %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'src/home.css' %}">
    <link rel="stylesheet" href="{% static 'src/out.css' %}">
    <title>GRS</title>
</head>

<body>
    <div class="header-div">
        <div class="flex justify-end bg-green-500">
            <div class="mr-6 p-2"><a href="{% url 'admin:index' %}" class="text-white font-medium">ADMIN
                    LOGIN</a>
            </div>
        </div>
        <div class="flex justify-end md:justify-between items-center bg-blue-50 md:px-24">
            <div class="flex-1 flex items-center md:gap-4 p-2 md:p-4">
                <img src="{% static 'images/logo-hq.png' %}" alt="" class="h-24 ml-6 rounded-full">
                <div class="items-center">
                    <div class="text-green-600 font-extralight">Anjuman-I-Islam's</div>
                    <div class="font-light text-black">M. H. Saboo Siddik </div>
                    <div class="font-light text-black">College of Engineering</div>
                </div>
            </div>
            <div class="flex-1">
                <div class="text-3xl ml-6 text-black font-extralight">Grievance Redressal Portal
                </div>
            </div>

        </div>
        <nav class="" id="navbar">
            <ul class="flex p-2 bg-green-500 justify-between">
                <div class="flex">
                    <li class="px-4"><a href="#About" class="text-white text-lg">About
                            Us</a>
                    </li>
                    <li class="px-4"><a href="#Contact" class="text-white text-lg">Contact
                            Us</a>
                    </li>
                    <li class="px-4 text-center "><a href="#process" class="text-white text-lg">Redressal Process</a>
                    </li>
                </div>
                <div>
                    <li class="px-4"> <a href="{% url 'login' %}" class="text-white font-bold text-lg">Login</a></li>
                </div>
            </ul>
        </nav>
    </div>

    <div class="flex md:flex-row flex-col p-6 md:p-10 items-center ">
        <div class="md:w-1/2">
            <div><img src="{% static 'images/college.png' %}" alt="" class="rounded-xl"></div>
        </div>

        <div id="About" class="mt-6 flex flex-col items-center w-full md:w-2/3 md:px-12 ">
            <div class="text-center  text-3xl">
                <h2>About Us</h2>
            </div>
            <div class="mt-6">
                <p class="text-justify animate-typing">M. H. Saboo Siddik, also known as MHSS or Saboo Siddik, is an 'A' Grade
                    engineering college located in Byculla, Mumbai, India. Affiliated with the University of Mumbai and
                    accredited by AICTE, it boasts a staff of 154 (comprising 57 teaching and 97 non-teaching members)
                    and serves approximately 1200 students. Established as a Muslim Minority Institution, it owes its
                    creation to the generous donation of Mohammed, the son of Haji Saboo Siddik, who contributed a
                    substantial sum to establish the institution for vocational, technical, and industrial education.
                    Managed and administered by the Anjuman-i-Islam, the college provides various facilities, including
                    workshops, laboratories, classrooms, a seminar hall, library, and reading rooms. Notably, a Seminar
                    Hall was inaugurated in 2001 by dignitaries, Zafar Saifullah IAS and Dr. Raja Ramanna, during the
                    annual day celebrations.</p>
            </div>
        </div>
    </div>
    <div class="flex flex-col md:flex-row  py-10 items-center" id="process">
        <div class="flex-1">
            <div class="px-10">
                <h2 class="text-3xl">Redressal Process</h2>
            </div>
            <div class="px-10 pb-6">
                <dl class="mt-6">
                    <dt class="font-semibold text-lg">Register</dt>
                    <dd class="text-justify">To initiate the process, faculty members should begin by visiting the login
                        page and selecting the "Sign Up" option. This will prompt them to provide essential registration
                        details, including their name, email address, and contact information. Once these details are
                        submitted, faculty members will have successfully created their account.</dd>

                    <dt class="font-semibold text-lg">Login</dt>
                    <dd class="text-justify">With the account created, faculty members can now log in to their
                        personalized dashboard using the credentials they've just established. The dashboard serves as
                        the central control center for all grievance-related activities, providing an intuitive and
                        easy-to-navigate interface.</dd>

                    <dt class="font-semibold text-lg">Lodge grievance</dt>
                    <dd class="text-justify">Inside the dashboard, faculty members will find the "Add complaint"
                        section. This is where they can initiate the grievance process. It's important for them to
                        provide a detailed description of the grievance and attach any relevant supporting documents.
                        This step ensures that their concerns are thoroughly understood.</dd>

                    <dt class="font-semibold text-lg">Track grievance</dt>
                    <dd class="text-justify">Throughout the grievance process, faculty members can rely on their
                        dashboard for real-time updates on the status of their complaint. They can visit the
                        "Complaints" section to view status of their complaints. Solved complaints are available in the
                        "Solved Complaints" section. From the moment of submission
                        to the final resolution, they will be kept informed at every stage. This transparency is
                        designed to instill confidence in the process.</dd>

                    <dt class="font-semibold text-lg">Download Reports</dt>
                    <dd class="text-justify">Once a complaint is successfully resolved, faculty members can access and
                        download the resolution and investigation reports. These documents provide a comprehensive
                        account of the actions taken to address the grievance. They serve as tangible records of the
                        process, ensuring transparency and accountability.</dd>
                </dl>
            </div>
        </div>
        <div class=" flex-1 flex justify-center items-center"><img src="{% static 'images/P2.png'%}" alt="" class="p-4">
        </div>
    </div>
    <div id="Contact" class="bg-green-500 py-10 px-12 mt-6">
        <div class="text-center text-2xl text-white">
            <h2>Contact Us</h2>
        </div>
        <div class="md:grid md:grid-cols-3 mt-10 text-white gap-10" id="contact-content">
            <div
                class="flex flex-col items-center mb-6 bg-black py-6 px-6 bg-opacity-40 rounded-xl justify-center gap-6">
                <div class="text-xl">Email</div>
                <div class="text-lg">grs@mhssce.ac.in</div>
            </div>
            <div
                class="flex flex-col items-center bg-black mb-6 py-6 px-6 bg-opacity-40 rounded-xl justify-center gap-6">
                <div class="text-xl">Call us</div>
                <div class="text-lg">+91 22 23012922</div>
            </div>
            <div class="flex flex-col items-center bg-black mb-6 py-6 px-6 bg-opacity-40 rounded-xl gap-6">
                <div class="text-xl">Address</div>
                <div class="w-2/3 text-lg">8, Saboo Siddik Polytechnic Road, Byculla, Mumbai 400 008</div>
            </div>
        </div>
    </div>
    </div>

    <div id="Footer" class="bg-slate-800">
        <div>
            <div class="flex md:flex-row flex-col py-10 px-12 gap-10">
                <div>
                    <h2 class="text-white text-xl font-semibold">Navigation</h2>
                    <ul class="mt-4 flex flex-col gap-4">
                        <li><a href="#About" class="text-white">About us</a></li>
                        <li><a href="#process" class="text-white">Redressal process</a></li>
                        <li><a href="{% url 'login' %}" class="text-white">Login</a></li>
                        <li><a href="{% url 'admin:index' %}" class="text-white">Admin login</a></li>
                    </ul>
                </div>
                <div>
                    <h2 class="text-white text-xl font-semibold mt-10">Contact us</h2>
                    <ul class="mt-4 flex flex-col gap-4">
                        <li><a href="mailto:grievances@mhssce.ac.in" class="text-white">grievances@mhssce.ac.in</a></li>
                        <li><a href="" class="text-white">+91 22 23012922</a></li>
                    </ul>
                </div>
                <div class="text-white mt-10">
                    <h2 class="text-xl font-semibold">M.H. Saboo Siddik College</h2>
                    <div class="w-2/3 mt-4">
                        8, Saboo Siddik Polytechnic Road, Byculla,
                        Mumbai 400 008
                    </div>
                </div>
            </div>
            <div class="text-white text-sm font-light p-2">&copy; Copyright M.H.S.S.C.E 2023</div>
        </div>

    </div>

    <!-- <script>
        const slider = document.getElementById('slider');
        const currentIndex = parseInt(slider.getAttribute('data-current-index'));
        const images = Array.from(slider.getElementsByTagName('img'));
        const prevButton = document.getElementById('prevButton');
        const nextButton = document.getElementById('nextButton');

        let currentImageIndex = currentIndex - 1;

        function showImage(index) {
            images.forEach((img, i) => {
                if (i === index) {
                    img.style.display = 'block';
                } else {
                    img.style.display = 'none';
                }
            });
        }

        function back() {
            if (currentImageIndex > 0) {
                currentImageIndex--;
                showImage(currentImageIndex);
            }
        }

        function next() {
            if (currentImageIndex < images.length - 1) {
                currentImageIndex++;
                showImage(currentImageIndex);
            } else {
                currentImageIndex = 0;
                showImage(currentImageIndex);
            }
        }

        function autoSlide() {
            next();
        }

        showImage(currentImageIndex);

        prevButton.addEventListener('click', back);
        nextButton.addEventListener('click', next);

        // Start automatic sliding with a 2-second interval
        const intervalId = setInterval(autoSlide, 3000);

        // Stop automatic sliding when the user interacts with the slider
        slider.addEventListener('click', () => {
            clearInterval(intervalId);
        });
    </script> -->

    <script src="https://kit.fontawesome.com/864e9fd339.js" crossorigin="anonymous"></script>

</body>

</html>