{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRS</title>
    <link rel="stylesheet" href="{% static 'src/out.css' %}">
    <link rel="stylesheet" href="{% static 'src/styles.css' %}">

</head>

<body class="bg-slate-100">
    <div id="container" style="display: block !important;">
        <!-- sidenav begins -->
        <div class="flex justify-between py-3 bg-slate-100 px-7">

            <div class="" id="burger"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke-width="1.5" stroke="currentColor" class="w-8 h-8 pb-2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </div>

            <ul class=" gap-6 text-md font-semibold hidden" id="menu">
                <li class=""><img src="{% static 'images/logo-hq.png' %}" alt="" class="h-12 rounded-full"
                        style="width: calc(24px + 1vw); margin-left:1rem;"></li>
                <li class="p-2"><a href="{% url 'faculty'%}">Profile</a></li>
                <li class="whitespace-nowrap p-2"><a href="{% url 'add/complaint'%}">Add Complaint</a></li>
                <li class="p-2"><a href="{% url 'view/MyComplaints'%}">Complaints</a></li>
                <li class="whitespace-nowrap p-2"><a href="{% url 'view/MySolvedComplaints'%}">Solved Complaints</a>
                </li>
                <li class="p-2"><a href="{% url 'logout'%}">Logout</a></li>
            </ul>
            <div class="h-full p-2 mr-2 flex items-center text-md font-semibold" style="margin-right: 1rem;">Welcome,
                {{user.full_name}}</div>
        </div>
        {% block body %}
        {% endblock body%}

    </div>
    <script src="https://kit.fontawesome.com/864e9fd339.js" crossorigin="anonymous"></script>
    <script>
        const burger = document.getElementById('burger');
        const menu = document.getElementById('menu');
        burger.addEventListener('click', () => {
            if (menu.style.display === 'block') {
                menu.style.display = 'none';
            }
            else {
                menu.style.display = 'block';
            }
        });

    </script>
</body>

</html>