img {
    height: auto!important;
    width: calc(24px + 2vw) !important;
    background-color: green;
    border-radius: 9999px;
}
.jazzmin-login-page{
    background-color: rgb(241 245 249);
}
.brand-img{
    display: none;
}
